<%= simple_form_for [@cocktail, @dose], html: { class: "form-inline" } do |f| %>
  <span class="ingredient-selector"><%= f.input :ingredient_id, collection: @ingredients, prompt: "ingredient", label: false%></span>
  <span class="input-group">
  <%= f.input :description, placeholder: "description", label: false %>
  <span class="input-group-btn"><%= f.button :submit, "Add" %></span>
  </span>
<% end %>


