 .sm .banner {
  height: 30vh;
}

dl {
  margin-bottom: 0px;
}

.panel {
  border-color: $light-pink;
  dt {
    color: $brand-color;
  }
  a {
    color: $light-pink;
    text-decoration: none;
  }
  a:hover{
    color: $red;
  }
}
.form-inline{
  display: flex;
  justify-content: center;
}

.form-control{
  color: $black;
  border-color: $light-pink;
}

.form-control:focus{
  border-color: $brand-color;
}
