.sm .banner {
  height: 30vh;
}

.panel {
  border-color: $light-pink;
  width: 100%;
  margin-left: 20px;
  dl {
    margin-bottom: 0px;
    width:inherit;
  }
  dt {
    color: $brand-color;
    width: 150px;
  }
  dd{
    margin-left: 170px;
    width:inherit;
  }
  a {
    color: $light-pink;
  }
  a:hover{
    color: $red;
  }
}
.form-inline{
  display: flex;
  justify-content: center;
}

.form-control{
  color: $black;
  border-color: $light-pink;
}

.form-control:focus{
  border-color: $brand-color;
}

.img-responsive{
  padding: 5px;
  border: 1px solid $gold;
}

a {
  color: $gold;
  text-decoration: none;
}

a:hover{
  color: $red;
  text-decoration: none;
}
